
.botoesdeconfig {

    border: none;
    color: rgb(141, 15, 199);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(247, 241, 241);
}
.botoes{
    margin: 0px 0px 0px 425px;

}

#pontos{
    color:rgb(141, 15, 199);
}



